
.navbar-inverse {
    padding:10px 0 10px 0;
    background-color:#f9f9f5;
    min-height:75px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #464646;
    font-size:18px;
}
.item-lection-annotation {
    margin-top: 10px;
}
.item {
	background: #f9f9f5;
}

.item img {
    margin-top: 15px;
    margin-left: 5px;
}
.title {
	margin-bottom: 15px;
}
.title-body {
	margin-bottom: 15px;
}
.title-body p{
	margin-bottom: 5px;
}

